.rd-history-reservation {
    box-sizing: border-box;
    width: 980px;
    padding: 30px;
    border-radius: 13px;
    background-color: #f8f8fa;
    font-size: 18px;
    color: #000000;
}

.rd-bokdinfo {
    margin-bottom: 30px;
}

.rd-reservation-num {
    margin-bottom: 15px;
}

.rd-num {
    display: inline;
    margin-right: 15px;
}

.rd-infodetail {
    display: flex;
}

.rd-poster {
    width: 110px;

    margin-right: 30px;
}
 
.rd-poster .rd-img {
    object-fit: contain;
    width: inherit;
}

.rd-table {
    empty-cells: show;
    border-collapse: collapse;
}

.rd-tr {
    height: 33px;
}

.rd-tr > th {
    text-align: right;
}

.rd-tr > td {
    padding: 0 15px;
}

.rd-bokdpayinfo {
    border-top: solid 1px #000000;
    padding: 30px 0 0 145px;
}

.rd-totalpay {
    font-weight: bold;
    margin-bottom: 15px;
}


.rd-money {
    margin-right: 5px;
}

.rd-bokdpayinfo .rd-paymethod {
    margin-right: 15px;
}

