.mpb-bg {
    height: 380px;
    width: 100%;
    position: relative;
    background-color: #ffde08;
}

.mpb-myinfo-box {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 980px;
    height: 385px;
    border-radius: 13px;
    box-shadow: 0px 10px 10px -2px rgba(0, 0, 0, 0.25);

    margin: 0 auto;
    background-color: #000000;
}

.mpb-top {
    height: 290px;
}

.mpb-bottom {
    display: flex;
    height: 95px;
    border-radius: 0 0 13px 13px;
    background-color: #ffffff;
}

.mpb-button {
    width: 490px;
    display: flex;
    justify-content: center
}