.progress-bar {
  width: 100%;
  max-width: 1000px;
  margin: 80px auto 0;
}

.card {
  border: none;
  background: #ffffff;
}

.progress-wrapper {
  margin-bottom: 20px;
}

.progress-bar.bg-gradient {
  background: linear-gradient(
    90deg,
    #4dabf7,
    #0d6efd
  ); /* 부드러운 그라디언트 */
  transition: width 0.5s ease-in-out; /* 부드러운 애니메이션 */
  box-shadow: 0 2px 4px rgba(13, 110, 253, 0.3); /* 그림자 강조 */
}

.progress-step {
  flex: 1;
  transition: all 0.3s ease;
  z-index: 1;
}

.step-number {
  background: #e9ecef;
  color: #6c757d;
  font-weight: 600;
  font-size: 14px;
  padding: 6px 12px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.step-title {
  color: #6c757d;
  font-weight: 500;
  max-width: 120px;
  margin-left: 20px;
  z-index: 10;
}

.progress-step.active .step-number {
  background: #198754;
  color: #fff;
  transform: scale(1.1);
}

.progress-step.active .step-title {
  color: #198754;
  font-weight: 600;
}

.progress-step.completed .step-number {
  background: #0d6efd;
  color: #fff;
}

.progress-step.completed .step-title {
  color: #0d6efd;
}

.progress-line {
  position: absolute;
  top: 10px;
  left: 0;
  height: 4px;
  background: #0d6efd;
  /*진행중인색상*/
  transition: width 0.5s ease-in-out;
  /*진행바와동기화*/
  z-index: 0;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
}
