.ci-cancelinfo {
    border-radius: 13px 13px 0 0;
    margin-bottom: 30px;
    background-color: #ffde08;
}

.ci-table {
    empty-cells: show;
    border-collapse: collapse;
}

.ci-tr-title {
    height: 50px;
    font-size: 18px;
}

.ci-tr {
    height: 100px;
    font-size: 18px;
    background-color: #f8f8fa;
}

.ci-tr > td {
    text-align: center;
}

.ci-money {
    margin-right: 5px;
}