.MovieChartWrap {
  width: 1920px;
  height: 421px;
}

.MovieChartSection {
  width: 980px;
  height: 363px;
  margin: 30px auto;
}

.MovieChartTitle {
  font-weight: bold;
  margin-bottom: 30px;
}

.chartImageTrack {
  display: flex;
  gap: 32.5px;
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}

.mainMovieImageSection {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.chartImageContainer {
  overflow: hidden;
  user-select: none;
}

.mainChartInfo {
  box-sizing: border-box;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageWrapper {
  position: relative;
  margin-bottom: 10px;
}

.mainMovieImage {
  width: 170px;
  height: 234px;
  border-radius: 8px;
  display: block;
  object-fit: cover;
}
.mainChartInfo:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.mainArrowBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
}

.movearrow {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.moveleft {
  left: -50px;
}

.moveright {
  right: -50px;
}

.movearrow:hover {
  opacity: 0.5;
}

.movieDetailBtns {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 50%;
  bottom: 40%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
.mainChartInfo:hover .movieDetailBtns {
  opacity: 1;
  pointer-events: auto;
}

.movieInfoBtn,
.movieReservationBtn {
  width: 150px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.movieInfoBtn:hover,
.movieReservationBtn:hover {
  background-color: white;
  color: black;
}
